<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IStockService" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" maxReceivedMessageSize="52428800">
          <security>
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ResmedStockService/StockService/StockService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStockService"
        contract="ResmedStockServiceProxy.IStockService" name="WSHttpBinding_IStockService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
