<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IStockService" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" maxReceivedMessageSize="52428800">
          <security>
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ResmedStockService/StockService/StockService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStockService"
        contract="ResmedStockServiceProxy.IStockService" name="WSHttpBinding_IStockService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
